.map-section__content{
    display: flex;
}

.info{
    padding-left: 20px;
    max-width: 300px;
}

.info p{
    margin-bottom: 20px;
    font-size: 18px;
}

.contact-qr{
    max-width: 250px;
    border-radius: 10px;
    border: 5px solid rgb(234, 197, 179);
}

.contact-info__title{
    margin-bottom: 10px;
}

.map{
    border: 5px solid rgb(234, 197, 179);
}