.main-page{
    background-color: #000000;
    color: white;
}

/*////////////////// Верхняя секция /////////////////////////*/

.main-page__section-top{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.main-page__section-top__img{
    height: 100vh;
}

.main-page__section-top__img__wrapper{
    height: 100vh;
    position: relative;
}

.main-page__section-top__img__gradient-right,
.main-page__section-top__img__gradient-left{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.main-page__section-top__img__gradient-left{
    background: linear-gradient(to left,black 10px, rgba(0, 0, 0, 0.4) 400px);
}

.main-page__section-top__img__gradient-right{
    background: linear-gradient(to right,black 10px, rgba(0, 0, 0, 0.4) 400px);
}

.main-page__section-top__logo{
    position: absolute;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}


/*////////////////// Секция с информацией /////////////////////////*/

.main-page__section-info{
    padding-top: 100px;
}

.main-page__item-wrapper:nth-child(even){
    flex-direction: row-reverse;
}



.main-page__item-wrapper{
    width: 100%;
    display: flex;
}

.main-page__item{
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: 3px solid rgb(205 148 54);
    border-radius: 20px;
    padding-bottom: 0;
    margin-bottom: 30px;
    align-self: flex-start;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.section-info__item__img{
    height: 600px;
    box-sizing: border-box;
}

.section-info__item__description{
    font-size: 18px;
    padding: 20px;
    text-indent: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.section-info__item__description p{
    margin-bottom: 10px;
    width: fit-content;
    line-height: 27px;
}


