.masters{
    width: 1050px;
    display: flex;
    justify-content: space-between;
}

.master{
    width: 500px;
}

.master__photo{
    height: 700px;
    width: 492px;
    border: 4px solid rgb(234, 197, 179);
    box-sizing: border-box;
}

.master__info{
    margin-bottom: 30px;
}


.active-sertificate img{
    width: 100%;
}

.master__certificates__nav{
    display: flex;
    list-style: none;
}

.master__certificates__nav li img{
    width: 100px;
    height: auto;
}


