.masters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.master{
    display: flex;
    margin-bottom: 40px;
}

.master h2 {
    margin-bottom: 15px;
    color: white;
}

.master__photo{
    height: 435px;
    width: 350px;
    border: 4px solid rgb(205 148 54);
    box-sizing: border-box;
    margin-bottom: 15px;
}

.master__info{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.master-certificates{
    margin-left: 30px;
}

.swiper-sertificates{
    height: 500px;
    width: 707px;
}

.serificateImg__wrapper{
    display: flex;
    justify-content: center;
    border: 3px solid rgb(205 148 54);
    box-sizing: border-box;
    background-color: rgb(205 148 54);
}

.serificateImg{
    height: 494px;
}

